@charset "UTF-8";

@font-face {
  font-family: AlegreyaSans;
  font-display: swap;
  src: url("../fonts/AlegreyaSans-Regular.woff2") format("woff2"), url("../fonts/AlegreyaSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-main {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 117.5%;
  /* 47/40 */
}

.btn {
  font-family: Roboto;
  font-weight: 700;
  line-height: 118.75%;
  /* 38/32 */
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.875rem;
}

.header {
  background-color: #1F1E28;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__image {
  width: 3rem;
  height: 3rem;
}

.header__image img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

.header__text {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 116.666667%;
  /* 28/24 */
}

.button {
  text-align: right;
  font-family: AlegreyaSans;
  font-weight: 400;
  line-height: 116.666667%;
  /* 28/24 */
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin-left: 0.625rem;
}

.footer__contact {
  background-color: #111111;
}

.footer__content {
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  /* 24/20 */
  text-align: center;
}

.footer__content a {
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers {
  background-color: #2A2A2A;
}

.spollers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.spollers__content li:nth-child(1) {
  max-width: 12.9375rem;
}

.spollers__content li:nth-child(2) {
  max-width: 14.9375rem;
}

.spollers__content li:nth-child(3) {
  max-width: 21.3125rem;
}

.spollers__content li:nth-child(4) {
  max-width: 20.5625rem;
}

.spollers__title {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  line-height: 126.666667%;
  /* 19/15 */
  text-transform: uppercase;
  text-align: start;
  cursor: default;
}

._spoller-init .spollers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left;
}

._spoller-init .spollers__title::before {
  content: "";
  width: 0;
  height: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 0.3125rem solid transparent;
  border-right: 0.3125rem solid transparent;
  border-bottom: 0.625rem solid rgb(248, 242, 242);
  margin-right: 0.625rem;
  margin-top: 0.3125rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.spollers__title._spoller-active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-bottom: 0.625rem solid #a6f3e0;
}

.spollers__body {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 121.428571%;
  /* 17/14 */
}

.terms__body {
  max-width: 35.3125rem;
  margin: 0 auto;
}

.terms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -0.3125rem;
}

.terms__item {
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 121.428571%;
  /* 17/14 */
  padding: 0 0.3125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.secure {
  background: -o-radial-gradient(68.82% 39.03%, 42.09% 62.94%, rgba(60, 255, 236, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #0D0C14;
  background: radial-gradient(42.09% 62.94% at 68.82% 39.03%, rgba(60, 255, 236, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #0D0C14;
}

.secure__protection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-secure__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.contact-secure__support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-secure__customer {
  font-family: Roboto;
  font-weight: 400;
  line-height: 115%;
  /* 23/20 */
  padding-right: 0.1875rem;
}

.contact-secure__phone {
  font-family: Roboto;
  font-weight: 400;
  line-height: 115%;
  /* 23/20 */
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contact-secure__email {
  font-family: Roboto;
  font-weight: 400;
  line-height: 115%;
  /* 23/20 */
}

.protection-secure__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  position: relative;
  z-index: 2;
}

.protection-secure__mobile {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 69%;
          flex: 0 0 69%;
  position: relative;
  margin-left: -6.25rem;
}

.protection-secure__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.protection-secure__image-ibg img {
  -o-object-position: bottom;
     object-position: bottom;
}

.digital-life__title:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.digital-life__text {
  font-family: Roboto;
  font-weight: 400;
  line-height: 116.666667%;
  /* 28/24 */
}

.devices__button {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 116.666667%;
  /* 28/24 */
  color: #000000;
  border-radius: 1.875rem;
  background: -o-radial-gradient(24.1% 18.31%, 81.69% 566.4%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #1DFAE5;
  background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #1DFAE5;
  -webkit-box-shadow: 0px 7px 7px rgba(126, 126, 126, 0.25);
          box-shadow: 0px 7px 7px rgba(126, 126, 126, 0.25);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.devices__text {
  font-family: Roboto;
  font-weight: 400;
  line-height: 116.666667%;
  /* 28/24 */
}

.vpn {
  background: -o-radial-gradient(3.76% 67.69%, 30.61% 191.95%, rgba(145, 87, 139, 0.2) 0%, rgba(0, 0, 0, 0) 100%) #09080E;
  background: radial-gradient(30.61% 191.95% at 3.76% 67.69%, rgba(145, 87, 139, 0.2) 0%, rgba(0, 0, 0, 0) 100%) #09080E;
}

.use-vpn__title {
  text-align: center;
  margin-bottom: 1.1875rem;
}

.use-vpn__text {
  font-family: Roboto;
  font-weight: 400;
  line-height: 115%;
  /* 23/20 */
  max-width: 54.25rem;
  margin: 0 auto;
  margin-bottom: 3.8125rem;
}

.opportunities-vpn__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 0.625rem;
}

.opportunities-vpn__item {
  position: relative;
}

.opportunities-vpn__text {
  display: inline-block;
  font-family: Inter;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 118.75%;
  /* 19/16 */
  width: 13.25rem;
  padding: 7.6875rem 0rem 2.25rem;
  text-align: center;
  border: 0.125rem solid #ffffff;
  border-radius: 1.25rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.opportunities-vpn__text_turquoise::after {
  content: "";
  position: absolute;
  width: 4.875rem;
  height: 4.875rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 25px rgba(104, 255, 227, 0.3);
  box-shadow: 0px 0px 25px 25px rgba(104, 255, 227, 0.3);
}

.opportunities-vpn__text_yellow::after {
  content: "";
  position: absolute;
  width: 4.875rem;
  height: 4.875rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 25px rgba(255, 172, 77, 0.3);
  box-shadow: 0px 0px 25px 25px rgba(255, 172, 77, 0.3);
}

.opportunities-vpn__text_green::after {
  content: "";
  position: absolute;
  width: 4.875rem;
  height: 4.875rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 25px rgba(210, 255, 86, 0.3);
  box-shadow: 0px 0px 25px 25px rgba(210, 255, 86, 0.3);
}

.opportunities-vpn__text_blue::after {
  content: "";
  position: absolute;
  width: 4.875rem;
  height: 4.875rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 25px 25px rgba(92, 157, 255, 0.3);
  box-shadow: 0px 0px 25px 25px rgba(92, 157, 255, 0.3);
}

.opportunities-vpn__icon {
  display: inline-block;
  position: absolute;
  width: 4.9375rem;
  height: 4.9375rem;
  top: -2.3125rem;
  left: 4.1875rem;
  z-index: 2;
}

.opportunities-vpn__icon img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}

.features {
  background-color: #232323;
}

.features__title {
  text-align: center;
}

.items-features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 11.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.items-features__item_top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.items-features__laibel {
  display: none;
}

.items-features__text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 118.75%;
  /* 19/16 */
  text-transform: uppercase;
}

.privacy__title {
  color: #000000;
  text-align: center;
  margin-bottom: 1.25rem;
}

.steps-privacy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -1.6875rem;
}

.steps-privacy__items {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-privacy__image {
  margin-bottom: 2rem;
}

.steps-privacy__image img {
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
}

.steps-privacy__button {
  color: #000000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.steps-privacy__button_green {
  background: -o-radial-gradient(24.1% 18.31%, 81.69% 566.4%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #1DFAE5;
  background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #1DFAE5;
}

.steps-privacy__button_yellow {
  background: -o-radial-gradient(24.1% 18.31%, 81.69% 566.4%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFAD4D;
  background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FFAD4D;
}

.steps-privacy__button_blue {
  background: -o-radial-gradient(24.1% 18.31%, 81.69% 566.4%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #5C9DFF;
  background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #5C9DFF;
}

.protect-all {
  background: -o-radial-gradient(81.32% 28.02%, 69.2% 166.64%, rgba(255, 23, 23, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #0D0C14;
  background: radial-gradient(69.2% 166.64% at 81.32% 28.02%, rgba(255, 23, 23, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #0D0C14;
}

.protect-all__title {
  text-align: center;
}

.protect-all__application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.application__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.application__sub-title {
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 118.75%;
  /* 38/32 */
}

.application__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application__item:not(:last-child) {
  margin-bottom: 0.25rem;
}

.application__icons {
  padding-right: 0.4375rem;
}

.application__text {
  font-family: Roboto;
  font-weight: 400;
  line-height: 115%;
  /* 23/20 */
}

.application__button {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.application__button_red {
  background: -o-radial-gradient(24.1% 18.31%, 81.69% 566.4%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FF5050;
  background: radial-gradient(81.69% 566.4% at 24.1% 18.31%, rgba(255, 240, 240, 0.8) 0%, rgba(255, 255, 255, 0) 100%), #FF5050;
}

.application__notebook {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41rem;
          flex: 0 1 41rem;
  position: relative;
  max-height: 28.125rem;
  margin-left: 0.625rem;
}

.application__image-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 29.99875em) {
  .items-features__laibel {
    display: block;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transition: -webkit-filter 0.3s ease 0s;
    transition: -webkit-filter 0.3s ease 0s;
    -o-transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
  }

  .items-features__laibel_green {
    padding: 2.0625rem 1.875rem 2.0625rem 2.1875rem;
    border-radius: 50%;
    background: -o-linear-gradient(313.88deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(0, 255, 209, 0.8) 92.73%), #1DFAE5;
    background: linear-gradient(136.12deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(0, 255, 209, 0.8) 92.73%), #1DFAE5;
  }

  .items-features__laibel_yellow {
    padding: 2.0625rem 2rem 2.0625rem 2rem;
    border-radius: 50%;
    background: -o-linear-gradient(313.88deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(255, 173, 77, 0.8) 92.73%), #FFAD4D;
    background: linear-gradient(136.12deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(255, 173, 77, 0.8) 92.73%), #FFAD4D;
  }

  .items-features__laibel_light {
    padding: 1.625rem 2.0625rem 2.5rem 2rem;
    border-radius: 50%;
    background: -o-linear-gradient(313.88deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(211, 255, 86, 0.8) 92.73%), #D3FF56;
    background: linear-gradient(136.12deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(211, 255, 86, 0.8) 92.73%), #D3FF56;
  }

  .items-features__laibel_blue {
    padding: 2.0625rem 1.75rem 2.0625rem 2.3125rem;
    border-radius: 50%;
    background: -o-linear-gradient(313.88deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(15, 162, 219, 0.8) 92.73%), #5C9DFF;
    background: linear-gradient(136.12deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(15, 162, 219, 0.8) 92.73%), #5C9DFF;
  }

  .items-features__laibel_crimson {
    padding: 2.0625rem 2rem 2.0625rem 2rem;
    border-radius: 50%;
    background: -o-linear-gradient(313.88deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(255, 80, 206, 0.8) 92.73%), #FF50CE;
    background: linear-gradient(136.12deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(255, 80, 206, 0.8) 92.73%), #FF50CE;
  }

  .items-features__laibel_red {
    padding: 2.0625rem 2rem 2.0625rem 2.0625rem;
    border-radius: 50%;
    background: -o-linear-gradient(313.88deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(236, 0, 0, 0.8) 92.73%), #FF5050;
    background: linear-gradient(136.12deg, rgba(255, 255, 255, 0.8) 30.98%, rgba(236, 0, 0, 0.8) 92.73%), #FF5050;
  }

  .items-features__text {
    font-size: 16px;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
  }

  .items-features__text_top {
    margin-top: 1.6875rem;
  }
}

@media (min-width: 29.99875em) and (any-hover: hover) {
  .items-features__laibel:hover {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
}

@media (min-width: 76.25em) {
  .steps-privacy__items:first-child {
    margin-right: 3.125rem;
  }

  .protect-all__container {
    padding-bottom: 8.875rem;
  }
}

@media (min-width: 77.5em) {
  .items-features__list {
    gap: 1.25rem;
  }
}

@media (min-width: 78.125em) {
  .title-main {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 2rem;
  }

  .btn {
    width: 21.5625rem;
  }

  .btn {
    height: 6.25rem;
  }

  .header__container {
    height: 6.5625rem;
  }

  .header__text {
    font-size: 1.5rem;
  }

  .button {
    font-size: 1.5rem;
  }

  .footer__contact {
    padding-top: 2.4375rem;
  }

  .footer__contact {
    padding-bottom: 2.4375rem;
  }

  .spollers__container {
    padding-top: 7.3125rem;
  }

  .spollers__container {
    padding-bottom: 5.5625rem;
  }

  .spollers__content {
    padding-bottom: 7.4375rem;
  }

  .spollers__item:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .spollers__title {
    margin-bottom: 1.3125rem;
  }

  .contact-secure {
    padding-top: 1.1875rem;
  }

  .contact-secure {
    margin-bottom: 1.1875rem;
  }

  .contact-secure__body {
    margin-bottom: 5.625rem;
  }

  .contact-secure__customer {
    font-size: 1.25rem;
  }

  .contact-secure__phone {
    font-size: 1.25rem;
  }

  .contact-secure__email {
    font-size: 1.25rem;
  }

  .digital-life:not(:last-child) {
    margin-bottom: 2.25rem;
  }

  .digital-life__text {
    font-size: 1.5rem;
  }

  .devices:last-child {
    padding-bottom: 14.25rem;
  }

  .devices__title {
    margin-bottom: 2.5rem;
  }

  .devices__button {
    font-size: 1.5rem;
  }

  .devices__button {
    padding-top: 1.375rem;
  }

  .devices__button {
    padding-bottom: 1.3125rem;
  }

  .devices__button {
    padding-left: 4.4375rem;
  }

  .devices__button {
    padding-right: 4.375rem;
  }

  .devices__button {
    margin-bottom: 1.25rem;
  }

  .devices__text {
    font-size: 1.5rem;
  }

  .vpn__container {
    padding-top: 4.1875rem;
  }

  .vpn__container {
    padding-bottom: 6.5625rem;
  }

  .use-vpn__text {
    font-size: 1.25rem;
  }

  .features__container {
    padding-top: 2.0625rem;
  }

  .features__container {
    padding-bottom: 7.5625rem;
  }

  .features__title {
    margin-bottom: 3.5rem;
  }

  .privacy__container {
    padding-top: 4.1875rem;
  }

  .privacy__container {
    padding-bottom: 6.6875rem;
  }

  .protect-all__container {
    padding-top: 5.875rem;
  }

  .protect-all__title {
    margin-bottom: 9.625rem;
  }

  .application__sub-title {
    font-size: 2rem;
  }

  .application__sub-title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .application__list:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .application__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .title-main {
    font-size: 1.875rem;
  }

  .btn {
    font-size: 1.625rem;
  }

  .btn {
    width: 17.5rem;
  }

  .btn {
    height: 5rem;
  }

  .header__container {
    height: 4.375rem;
  }

  .header__text {
    font-size: 1.125rem;
  }

  .button {
    font-size: 1.125rem;
  }

  .footer__contact {
    padding-top: 1.25rem;
  }

  .footer__contact {
    padding-bottom: 1.25rem;
  }

  .spollers__container {
    padding-top: 3.125rem;
  }

  .spollers__container {
    padding-bottom: 1.875rem;
  }

  .spollers__content {
    padding-bottom: 0.625rem;
  }

  .spollers__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .spollers__title {
    margin-bottom: 0.625rem;
  }

  .contact-secure {
    padding-top: 0.625rem;
  }

  .contact-secure {
    margin-bottom: 0.625rem;
  }

  .contact-secure__body {
    margin-bottom: 2.5rem;
  }

  .contact-secure__customer {
    font-size: 1rem;
  }

  .contact-secure__phone {
    font-size: 1rem;
  }

  .contact-secure__email {
    font-size: 1rem;
  }

  .digital-life:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .digital-life__text {
    font-size: 1.25rem;
  }

  .devices:last-child {
    padding-bottom: 0.0000000625rem;
  }

  .devices__title {
    margin-bottom: 1.25rem;
  }

  .devices__button {
    font-size: 1.25rem;
  }

  .devices__button {
    padding-top: 1rem;
  }

  .devices__button {
    padding-bottom: 1rem;
  }

  .devices__button {
    padding-left: 3.125rem;
  }

  .devices__button {
    padding-right: 3.125rem;
  }

  .devices__button {
    margin-bottom: 0.625rem;
  }

  .devices__text {
    font-size: 1.125rem;
  }

  .vpn__container {
    padding-top: 1.875rem;
  }

  .vpn__container {
    padding-bottom: 1.875rem;
  }

  .use-vpn__text {
    font-size: 1rem;
  }

  .features__container {
    padding-top: 1.25rem;
  }

  .features__container {
    padding-bottom: 1.25rem;
  }

  .features__title {
    margin-bottom: 1.25rem;
  }

  .privacy__container {
    padding-top: 3.125rem;
  }

  .privacy__container {
    padding-bottom: 1.875rem;
  }

  .protect-all__container {
    padding-top: 3.125rem;
  }

  .protect-all__title {
    margin-bottom: 1.25rem;
  }

  .application__sub-title {
    font-size: 1.5rem;
  }

  .application__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .application__list:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .application__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 69.375rem) {
  .secure__protection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .protection-secure__mobile {
    padding-bottom: 55%;
    margin-left: 0;
  }

  .protection-secure__image-ibg img {
    -o-object-position: center;
       object-position: center;
  }

  .devices:last-child {
    padding-bottom: 0;
  }
}

@media (max-width: 68.75rem) {
  .steps-privacy__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    text-align: center;
  }

  .steps-privacy__items:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 64.375em) {
  .items-features__list {
    gap: 0.3125rem;
  }
}

@media (max-width: 61.99875em) {
  .spollers__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .spollers__content li:nth-child(1) {
    max-width: 56.25rem;
  }

  .spollers__content li:nth-child(2) {
    max-width: 56.25rem;
  }

  .spollers__content li:nth-child(3) {
    max-width: 56.25rem;
  }

  .spollers__content li:nth-child(4) {
    max-width: 56.25rem;
  }

  .opportunities-vpn__list {
    -ms-grid-columns: 13.25rem 13.25rem;
    grid-template-columns: 13.25rem 13.25rem;
    grid-row-gap: 3.125rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .items-features__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .steps-privacy__items:first-child {
    margin-right: 0.0000000625rem;
  }
}

@media (max-width: 47.99875em) {
  .contact-secure__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .items-features__list {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .protect-all__container {
    padding-bottom: 0.0000000625rem;
  }

  .protect-all__application {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .application__body {
    margin-bottom: 1.25rem;
  }

  .application__notebook {
    padding-bottom: 60%;
    margin: 0 -1.125rem;
  }
}

@media (max-width: 29.99875em) {
  .terms__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .terms__list li:not(:last-child) {
    padding-bottom: 0.625rem;
  }

  .terms__item {
    font-size: 1.25rem;
  }

  .opportunities-vpn__list {
    -ms-grid-columns: 13.25rem;
    grid-template-columns: 13.25rem;
  }

  .items-features__list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 78.125em) {
@supports (font-size: clamp( 1.875rem , 1.6599462366rem  +  1.0752688172vw , 2.5rem )) {
    .title-main {
      font-size: clamp( 1.875rem , 1.6599462366rem  +  1.0752688172vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.6599462366rem  +  1.0752688172vw , 2.5rem )) {
    .title-main {
      font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.625rem , 1.4959677419rem  +  0.6451612903vw , 2rem )) {
    .btn {
      font-size: clamp( 1.625rem , 1.4959677419rem  +  0.6451612903vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.4959677419rem  +  0.6451612903vw , 2rem )) {
    .btn {
      font-size: calc(1.625rem + 0.375 * (100vw - 20rem) / 58.125);
    }
}

@supports (width: clamp( 17.5rem , 16.1021505376rem  +  6.9892473118vw , 21.5625rem )) {
    .btn {
      width: clamp( 17.5rem , 16.1021505376rem  +  6.9892473118vw , 21.5625rem );
    }
}

@supports not (width: clamp( 17.5rem , 16.1021505376rem  +  6.9892473118vw , 21.5625rem )) {
    .btn {
      width: calc(17.5rem + 4.0625 * (100vw - 20rem) / 58.125);
    }
}

@supports (height: clamp( 5rem , 4.5698924731rem  +  2.1505376344vw , 6.25rem )) {
    .btn {
      height: clamp( 5rem , 4.5698924731rem  +  2.1505376344vw , 6.25rem );
    }
}

@supports not (height: clamp( 5rem , 4.5698924731rem  +  2.1505376344vw , 6.25rem )) {
    .btn {
      height: calc(5rem + 1.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (height: clamp( 4.375rem , 3.622311828rem  +  3.7634408602vw , 6.5625rem )) {
    .header__container {
      height: clamp( 4.375rem , 3.622311828rem  +  3.7634408602vw , 6.5625rem );
    }
}

@supports not (height: clamp( 4.375rem , 3.622311828rem  +  3.7634408602vw , 6.5625rem )) {
    .header__container {
      height: calc(4.375rem + 2.1875 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem )) {
    .header__text {
      font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem )) {
    .header__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem )) {
    .button {
      font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem )) {
    .button {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8413978495rem  +  2.0430107527vw , 2.4375rem )) {
    .footer__contact {
      padding-top: clamp( 1.25rem , 0.8413978495rem  +  2.0430107527vw , 2.4375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8413978495rem  +  2.0430107527vw , 2.4375rem )) {
    .footer__contact {
      padding-top: calc(1.25rem + 1.1875 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8413978495rem  +  2.0430107527vw , 2.4375rem )) {
    .footer__contact {
      padding-bottom: clamp( 1.25rem , 0.8413978495rem  +  2.0430107527vw , 2.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8413978495rem  +  2.0430107527vw , 2.4375rem )) {
    .footer__contact {
      padding-bottom: calc(1.25rem + 1.1875 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.6841397849rem  +  7.2043010753vw , 7.3125rem )) {
    .spollers__container {
      padding-top: clamp( 3.125rem , 1.6841397849rem  +  7.2043010753vw , 7.3125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.6841397849rem  +  7.2043010753vw , 7.3125rem )) {
    .spollers__container {
      padding-top: calc(3.125rem + 4.1875 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6061827957rem  +  6.3440860215vw , 5.5625rem )) {
    .spollers__container {
      padding-bottom: clamp( 1.875rem , 0.6061827957rem  +  6.3440860215vw , 5.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6061827957rem  +  6.3440860215vw , 5.5625rem )) {
    .spollers__container {
      padding-bottom: calc(1.875rem + 3.6875 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -1.7190860215rem  +  11.7204301075vw , 7.4375rem )) {
    .spollers__content {
      padding-bottom: clamp( 0.625rem , -1.7190860215rem  +  11.7204301075vw , 7.4375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -1.7190860215rem  +  11.7204301075vw , 7.4375rem )) {
    .spollers__content {
      padding-bottom: calc(0.625rem + 6.8125 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4529569892rem  +  0.8602150538vw , 1.125rem )) {
    .spollers__item:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4529569892rem  +  0.8602150538vw , 1.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4529569892rem  +  0.8602150538vw , 1.125rem )) {
    .spollers__item:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.5 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3884408602rem  +  1.1827956989vw , 1.3125rem )) {
    .spollers__title {
      margin-bottom: clamp( 0.625rem , 0.3884408602rem  +  1.1827956989vw , 1.3125rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3884408602rem  +  1.1827956989vw , 1.3125rem )) {
    .spollers__title {
      margin-bottom: calc(0.625rem + 0.6875 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4314516129rem  +  0.9677419355vw , 1.1875rem )) {
    .contact-secure {
      padding-top: clamp( 0.625rem , 0.4314516129rem  +  0.9677419355vw , 1.1875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4314516129rem  +  0.9677419355vw , 1.1875rem )) {
    .contact-secure {
      padding-top: calc(0.625rem + 0.5625 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4314516129rem  +  0.9677419355vw , 1.1875rem )) {
    .contact-secure {
      margin-bottom: clamp( 0.625rem , 0.4314516129rem  +  0.9677419355vw , 1.1875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4314516129rem  +  0.9677419355vw , 1.1875rem )) {
    .contact-secure {
      margin-bottom: calc(0.625rem + 0.5625 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.4247311828rem  +  5.376344086vw , 5.625rem )) {
    .contact-secure__body {
      margin-bottom: clamp( 2.5rem , 1.4247311828rem  +  5.376344086vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4247311828rem  +  5.376344086vw , 5.625rem )) {
    .contact-secure__body {
      margin-bottom: calc(2.5rem + 3.125 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .contact-secure__customer {
      font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .contact-secure__customer {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .contact-secure__phone {
      font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .contact-secure__phone {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .contact-secure__email {
      font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .contact-secure__email {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9059139785rem  +  1.7204301075vw , 2.25rem )) {
    .digital-life:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9059139785rem  +  1.7204301075vw , 2.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9059139785rem  +  1.7204301075vw , 2.25rem )) {
    .digital-life:not(:last-child) {
      margin-bottom: calc(1.25rem + 1 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1639784946rem  +  0.4301075269vw , 1.5rem )) {
    .digital-life__text {
      font-size: clamp( 1.25rem , 1.1639784946rem  +  0.4301075269vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1639784946rem  +  0.4301075269vw , 1.5rem )) {
    .digital-life__text {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -4.9032257224rem  +  24.5161289247vw , 14.25rem )) {
    .devices:last-child {
      padding-bottom: clamp( 0.0000000625rem , -4.9032257224rem  +  24.5161289247vw , 14.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -4.9032257224rem  +  24.5161289247vw , 14.25rem )) {
    .devices:last-child {
      padding-bottom: calc(0.0000000625rem + 14.2499999375 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8198924731rem  +  2.1505376344vw , 2.5rem )) {
    .devices__title {
      margin-bottom: clamp( 1.25rem , 0.8198924731rem  +  2.1505376344vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8198924731rem  +  2.1505376344vw , 2.5rem )) {
    .devices__title {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1639784946rem  +  0.4301075269vw , 1.5rem )) {
    .devices__button {
      font-size: clamp( 1.25rem , 1.1639784946rem  +  0.4301075269vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1639784946rem  +  0.4301075269vw , 1.5rem )) {
    .devices__button {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 1rem , 0.8709677419rem  +  0.6451612903vw , 1.375rem )) {
    .devices__button {
      padding-top: clamp( 1rem , 0.8709677419rem  +  0.6451612903vw , 1.375rem );
    }
}

@supports not (padding-top: clamp( 1rem , 0.8709677419rem  +  0.6451612903vw , 1.375rem )) {
    .devices__button {
      padding-top: calc(1rem + 0.375 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 1rem , 0.8924731183rem  +  0.5376344086vw , 1.3125rem )) {
    .devices__button {
      padding-bottom: clamp( 1rem , 0.8924731183rem  +  0.5376344086vw , 1.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1rem , 0.8924731183rem  +  0.5376344086vw , 1.3125rem )) {
    .devices__button {
      padding-bottom: calc(1rem + 0.3125 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-left: clamp( 3.125rem , 2.6733870968rem  +  2.2580645161vw , 4.4375rem )) {
    .devices__button {
      padding-left: clamp( 3.125rem , 2.6733870968rem  +  2.2580645161vw , 4.4375rem );
    }
}

@supports not (padding-left: clamp( 3.125rem , 2.6733870968rem  +  2.2580645161vw , 4.4375rem )) {
    .devices__button {
      padding-left: calc(3.125rem + 1.3125 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-right: clamp( 3.125rem , 2.6948924731rem  +  2.1505376344vw , 4.375rem )) {
    .devices__button {
      padding-right: clamp( 3.125rem , 2.6948924731rem  +  2.1505376344vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 3.125rem , 2.6948924731rem  +  2.1505376344vw , 4.375rem )) {
    .devices__button {
      padding-right: calc(3.125rem + 1.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4099462366rem  +  1.0752688172vw , 1.25rem )) {
    .devices__button {
      margin-bottom: clamp( 0.625rem , 0.4099462366rem  +  1.0752688172vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4099462366rem  +  1.0752688172vw , 1.25rem )) {
    .devices__button {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem )) {
    .devices__text {
      font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9959677419rem  +  0.6451612903vw , 1.5rem )) {
    .devices__text {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.0793010753rem  +  3.9784946237vw , 4.1875rem )) {
    .vpn__container {
      padding-top: clamp( 1.875rem , 1.0793010753rem  +  3.9784946237vw , 4.1875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.0793010753rem  +  3.9784946237vw , 4.1875rem )) {
    .vpn__container {
      padding-top: calc(1.875rem + 2.3125 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2620967742rem  +  8.064516129vw , 6.5625rem )) {
    .vpn__container {
      padding-bottom: clamp( 1.875rem , 0.2620967742rem  +  8.064516129vw , 6.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2620967742rem  +  8.064516129vw , 6.5625rem )) {
    .vpn__container {
      padding-bottom: calc(1.875rem + 4.6875 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .use-vpn__text {
      font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9139784946rem  +  0.4301075269vw , 1.25rem )) {
    .use-vpn__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.9704301075rem  +  1.3978494624vw , 2.0625rem )) {
    .features__container {
      padding-top: clamp( 1.25rem , 0.9704301075rem  +  1.3978494624vw , 2.0625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9704301075rem  +  1.3978494624vw , 2.0625rem )) {
    .features__container {
      padding-top: calc(1.25rem + 0.8125 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.9220430108rem  +  10.8602150538vw , 7.5625rem )) {
    .features__container {
      padding-bottom: clamp( 1.25rem , -0.9220430108rem  +  10.8602150538vw , 7.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.9220430108rem  +  10.8602150538vw , 7.5625rem )) {
    .features__container {
      padding-bottom: calc(1.25rem + 6.3125 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4758064516rem  +  3.8709677419vw , 3.5rem )) {
    .features__title {
      margin-bottom: clamp( 1.25rem , 0.4758064516rem  +  3.8709677419vw , 3.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4758064516rem  +  3.8709677419vw , 3.5rem )) {
    .features__title {
      margin-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.7594086022rem  +  1.8279569892vw , 4.1875rem )) {
    .privacy__container {
      padding-top: clamp( 3.125rem , 2.7594086022rem  +  1.8279569892vw , 4.1875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.7594086022rem  +  1.8279569892vw , 4.1875rem )) {
    .privacy__container {
      padding-top: calc(3.125rem + 1.0625 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.2190860215rem  +  8.2795698925vw , 6.6875rem )) {
    .privacy__container {
      padding-bottom: clamp( 1.875rem , 0.2190860215rem  +  8.2795698925vw , 6.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2190860215rem  +  8.2795698925vw , 6.6875rem )) {
    .privacy__container {
      padding-bottom: calc(1.875rem + 4.8125 * (100vw - 20rem) / 58.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.1787634409rem  +  4.7311827957vw , 5.875rem )) {
    .protect-all__container {
      padding-top: clamp( 3.125rem , 2.1787634409rem  +  4.7311827957vw , 5.875rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.1787634409rem  +  4.7311827957vw , 5.875rem )) {
    .protect-all__container {
      padding-top: calc(3.125rem + 2.75 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.6317204301rem  +  14.4086021505vw , 9.625rem )) {
    .protect-all__title {
      margin-bottom: clamp( 1.25rem , -1.6317204301rem  +  14.4086021505vw , 9.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.6317204301rem  +  14.4086021505vw , 9.625rem )) {
    .protect-all__title {
      margin-bottom: calc(1.25rem + 8.375 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3279569892rem  +  0.8602150538vw , 2rem )) {
    .application__sub-title {
      font-size: clamp( 1.5rem , 1.3279569892rem  +  0.8602150538vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3279569892rem  +  0.8602150538vw , 2rem )) {
    .application__sub-title {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7123655914rem  +  2.688172043vw , 2.8125rem )) {
    .application__sub-title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7123655914rem  +  2.688172043vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7123655914rem  +  2.688172043vw , 2.8125rem )) {
    .application__sub-title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 58.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.9274193548rem  +  1.6129032258vw , 2.1875rem )) {
    .application__list:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.9274193548rem  +  1.6129032258vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.9274193548rem  +  1.6129032258vw , 2.1875rem )) {
    .application__list:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 58.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0819892473rem  +  0.2150537634vw , 1.25rem )) {
    .application__text {
      font-size: clamp( 1.125rem , 1.0819892473rem  +  0.2150537634vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0819892473rem  +  0.2150537634vw , 1.25rem )) {
    .application__text {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 58.125);
    }
}
}

@media (min-width: 64.375em) and (max-width: 77.5em) {
@supports (gap: clamp( 0.3125rem , -4.2857142857rem  +  7.1428571429vw , 1.25rem )) {
    .items-features__list {
      gap: clamp( 0.3125rem , -4.2857142857rem  +  7.1428571429vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.3125rem , -4.2857142857rem  +  7.1428571429vw , 1.25rem )) {
    .items-features__list {
      gap: calc(0.3125rem + 0.9375 * (100vw - 64.375rem) / 13.125);
    }
}
}

@media (min-width: 29.99875em) and (max-width: 61.99875em) {
  .items-features__text {
    margin-top: 0;
  }
}

@media (min-width: 61.99875em) and (max-width: 76.25em) {
@supports (margin-right: clamp( 0.0000000625rem , -13.5950242248rem  +  21.9279006228vw , 3.125rem )) {
    .steps-privacy__items:first-child {
      margin-right: clamp( 0.0000000625rem , -13.5950242248rem  +  21.9279006228vw , 3.125rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -13.5950242248rem  +  21.9279006228vw , 3.125rem )) {
    .steps-privacy__items:first-child {
      margin-right: calc(0.0000000625rem + 3.1249999375 * (100vw - 61.99875rem) / 14.25125);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 76.25em) {
@supports (padding-bottom: clamp( 0.0000000625rem , -15.0785859558rem  +  31.4145389585vw , 8.875rem )) {
    .protect-all__container {
      padding-bottom: clamp( 0.0000000625rem , -15.0785859558rem  +  31.4145389585vw , 8.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -15.0785859558rem  +  31.4145389585vw , 8.875rem )) {
    .protect-all__container {
      padding-bottom: calc(0.0000000625rem + 8.8749999375 * (100vw - 47.99875rem) / 28.25125);
    }
}
}

@media (any-hover: hover) {
  .header__logo:hover {
    color: #94c4f1;
  }

  .button:hover {
    color: #94c4f1;
  }

  .footer__content a:hover {
    color: #a6f3e0;
  }

  .terms__item:hover {
    color: #a6f3e0;
  }

  .contact-secure__phone:hover {
    color: #94c4f1;
  }

  .devices__button:hover {
    color: #697a80;
  }

  .opportunities-vpn__text:hover {
    color: #f3d0d0;
  }

  .items-features__item:hover {
    color: #f3d0d0;
  }

  .steps-privacy__button:hover {
    color: #697a80;
  }

  .application__button:hover {
    color: #697a80;
  }
}